@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Farsan&family=Gugi&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Kirang+Haerang&family=Krona+One&family=Righteous&display=swap');

body {
    background-color: #fdfdfd;
}

/* header */
.nav-main-btn:hover .nav-drop-box {
    display: block;
    margin-top: 3px;
}

.navbar {
    @apply mx-auto;
}

.nav-main-btn {
    @apply
    inline-block text-center leading-nav
    overflow-hidden min-w-[170px] mx-[18px]
    hover:text-accent hover:font-bold hover:border-b-4 hover:border-solid hover:border-b-accent;
}

.nav-logo {
    @apply inline-block
    leading-nav mt-10;
}

.nav-main-text {
    @apply text-xl min-w-[170px];
}

.nav-drop-box {
    @apply
    hidden absolute min-w-[170px] z-10  bg-sub2 rounded-b-3xl;
}

.nav-drop-btn {
    @apply block float-none text-center text-lg font-normal text-main
    h-[50px] leading-[50px]
    hover:text-accent hover:font-bold;
}


/* login */
.checkbox-btn {
    @apply rounded px-4 h-3 w-3 border 
    text-accent accent-accent bg-sub;
}

.login-input {
    @apply block h-[36px] w-[250px] rounded-xl px-4 
    border border-grey focus:outline-accent;
}

.input-label {
    @apply px-4 text-accent font-semibold;
}